body {
    background-color: #cccccc;
    margin: 0px;
}
.space {
    height: 55vh;
    background-color: #000000;
    border: 1px solid #CCCCCC;
}
.sheet {
    border: 1px solid #CCCCCC;
    height: 45vh;
    background-color: #87CEEB;
}
canvas {
    background: #111;
}
#ship td {
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
}
