body {
    background-color: #cccccc;
    margin: 0px;
}
.space {
    height: 55vh;
    background-color: #000000;
    border: 1px solid #CCCCCC;
}
.sheet {
    border: 1px solid #CCCCCC;
    height: 45vh;
    background-color: #87CEEB;
}
canvas {
    background: #111;
}
.dd {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    background-color: #CCCCCC;
    color: #111111;
    font: .8em, arial, sans-serif;
    border: 2px solid black;
}
.dd:hover {
   border: 3px solid red;
}

